.btn {
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply test;
}

/*
if i have 2 .test it gives error
`@apply` cannot be used with .test because .test is included in multiple rulesets.
*/

.test {
  background: #ff0000;
}

/*
this doesn't work @apply test.color;
*/

.test.color {
  color: #ffffff;
}
