
.btn {
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply test;
}

.test {
  background: #ff0000;
}

/*
// @BUG no multiple ruleset @apply https://github.com/tailwindcss/tailwindcss/pull/209
.test {
  color: #ffffff;
}
*/

.test.color {
  color: #ffffff;
}
