/**
 * import
 */

// xtend

@import '~xtend-library/src/xtend-reset.css'; // always first loaded
@import '~xtend-library/src/xtend-core.css';
@import '~xtend-library/src/xtend-demo.css';
@import '~xtend-library/src/xtend-extension.css';

/*
// icons

@import 'icons-theme/style.css';

// theme

@import '_shared.less';
@import '_header.less';
@import '_footer.less';
@import '_main.less';
@import '_demo.less';
*/
