@mixin text-reset() {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

@mixin full() {
  max-width: none;
  width: 100%;
  height: auto;
}

@mixin test() {
  &:before {
    content: 'mixin utils'
  }
}

%test {
  &:before {
    content: 'extend utils'
  }
}

body {
  // mixin override doesn't work it uses the mixin before not the after this include
  @include test;
  // extend override doesn't work it extends both placeholders
  @extend %test;
}
