/**
 * postcss tests
 */

 :root {
  --primary: red;
}

$media-sm: 700px;
@custom-media --max-sm (max-width: calc($media-sm - 1px));
@custom-media --min-sm (min-width: $media-sm);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  @media (--max-sm) {
    color: var(--primary);
  }
  @media (--min-sm) {
    background: color-mod(var(--primary) a(50%));
  }
}

@define-mixin active {
  &:active, &.active {
    @mixin-content;
  }
}

$padding-small: 0px;

@define-mixin btn-small {
  padding: $padding-small;
}

@define-mixin btn-small {
  $padding-small: 40px;
  padding: $padding-small;
}

.btn-test {
  &.nested {
    text-decoration: underline;
  }
}

.btn {
  // PROBLEM !important doesnt work in mixin
  @mixin btn-small !important;
  @media (--min-sm) {
    // PROBLEM ONLY ONE @extend for selector
    // PROBLEM !important doesnt work in extend
    @extend .btn-color, .btn-test.nested;
  }
}

.btn {
  @extend .btn-setup;
}

.btn-color {
  color: var(--primary);
  @mixin active {
    color: white;
    @media (--sm) {
      background: var(--primary);
      background: color-mod(var(--primary) a(50%));
      transform: translateX(10px);
    }
  }
}

.btn-setup {
  background: var(--primary);
  @mixin active {
    color: black;
    @media (--min-sm) {
      transform: scale(2);
    }
  }
  @media (--min-sm) {
    background: color-mod(var(--primary) alpha(50%));
  }
}

/**
 * reset
 */

html, body {
  height: 100%;
  touch-action: manipulation; // disable double-tap
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // disable tap highlight
}

body {
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a img {
  // ie10 remove border
  border: 0;
  outline: 0;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  // enables pointer events
  display: inline-block;
}

button {
  // .reset-text();
  border: 0;
  padding: 0;
  background: transparent;
  text-align: left;
}

img {
  display: inline-block;
  vertical-align: top; // fix inline-block spacing
}

svg {
  display: block;
  text-anchor: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

address {
  font-style: inherit;
}

dl, dd {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: auto;
}

legend {
  border: 0;
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]), textarea {
  // remove shadow
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  cursor: pointer;
  // remove arrow
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

button, input, select, textarea {
  // safari margin
  margin: 0;
}

input, select, textarea {
  // autofill
  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
    transition-property: background-color, color;
    transition-delay: 10000000s;
  }
}

html:not(.xt-focus-visible), html.xt-focus-disable {
  :focus {
    outline: none;
  }
}
